<!-- TODO: extract? -->
<style>
    .leap-overlay-container > div.leap-overlay-visual{
        border-radius: 50%;
        position: absolute;
        opacity: 0.75;
    }
</style>
<div class="leap-overlay-container" style="position: relative;height: 100%">
    <div ng-transclude></div>
    <div class="leap-overlay-pointables leap-overlay-visual"
         ng-repeat="pointable in relativePositions.pointables track by $index"
         style="background-color:red;
            width: {{ getZSize(pointable[2],100,25) }}px;
            height: {{ getZSize(pointable[2],100,25)}}px;
            left:{{ pointable[0] * offsetWidth }}px;
            bottom:{{ pointable[1] * offsetHeight}}px;">
    </div>
    <div class="leap-overlay-hands leap-overlay-visual"
         ng-repeat="pointable in relativePositions.hands track by $index"
         style="background-color:yellow;
            width: {{ getZSize(pointable[2],100,25) }}px;
            height: {{ getZSize(pointable[2],100,25) }}px;
            left:{{ pointable[0] * offsetWidth }}px;
            bottom:{{ pointable[1] * offsetHeight}}px;">
    </div>
</div>
